<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Host Your Site</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Slab:wght@200;400;900&display=swap");
    </style>
    <script src="https://kit.fontawesome.com/23c828fab0.js" crossorigin="anonymous"></script>
    <!-- tailwindCss -->
    <script src="https://cdn.tailwindcss.com"></script>

  </head>
  <body>
    
    <div class="bg-white">
      <!-- header -->
      <header class="absolute inset-x-0 top-0 z-50">
        <nav
          class="flex items-center justify-between p-6 lg:px-8"
          aria-label="Global"
        >
          <div class="flex lg:flex-1">
            <a href="/" class="-m-1.5 p-1.5">
              <span
                class="py-1 px-2 text-gray-900 border-2 font-semibold text-2xl rounded-lg border-indigo-600"
                style="
                  font-family: 'Anton', sans-serif;
                  font-family: 'Roboto Slab', serif;
                "
                >Hosty.</span
              >
            </a>
          </div>
          <div class="lg:flex lg:flex-1 lg:justify-end">
            <a href="#" class="text-sm font-semibold leading-6 text-gray-900"
              >Log in <span aria-hidden="true">&rarr;</span></a
            >
          </div>
        </nav>
      </header>
      <% if(page=='home') {%>
      <div class="mx-auto max-w-8xl py-24 sm:px-6 sm:py-26 lg:px-8">
        <div
          class="relative isolate overflow-hidden bg-gray-900 px-6 pt-16 shadow-2xl sm:rounded-3xl sm:px-16 md:pt-24 lg:flex lg:gap-x-20 lg:px-24 lg:pt-0"
        >
          <svg
            viewBox="0 0 1024 1024"
            class="absolute left-1/2 top-1/2 -z-10 h-[64rem] w-[64rem] -translate-y-1/2 [mask-image:radial-gradient(closest-side,white,transparent)] sm:left-full sm:-ml-80 lg:left-1/2 lg:ml-0 lg:-translate-x-1/2 lg:translate-y-0"
            aria-hidden="true"
          >
            <circle
              cx="512"
              cy="512"
              r="512"
              fill="url(#759c1415-0410-454c-8f7c-9a820de03641)"
              fill-opacity="0.7"
            />
            <defs>
              <radialGradient id="759c1415-0410-454c-8f7c-9a820de03641">
                <stop stop-color="#7775D6" />
                <stop offset="1" stop-color="#E935C1" />
              </radialGradient>
            </defs>
          </svg>
          <div
            class="mx-auto max-w-lg text-center lg:mx-0 lg:flex-auto lg:py-32 lg:text-left"
          >
            <h2
              class="text-3xl font-bold tracking-tight text-white sm:text-4xl"
            >
              Host Your Static Site <br />
              On <span class="text-indigo-600 text-6xl">Hosty</span>
            </h2>
            <p class="mt-6 text-lg leading-8 text-gray-300">
              Explore boundless creativity with our platform. Effortlessly
              upload your HTML, CSS, and JavaScript creations, crafting a
              digital space that reflects your unique style. Join us to share,
              interact, and embrace the potential of web technology.
            </p>
            <div
              class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start"
            >
              <a
                href="/upload"
                class="rounded-md bg-white px-3.5 py-2.5 text-sm font-bold text-gray-900 shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white"
                >Host Your Site</a
              >
              <a href="#" class="text-sm font-semibold leading-6 text-white"
                >Learn more <span aria-hidden="true">→</span></a
              >
            </div>
          </div>
          <div class="relative mt-16 h-80 lg:mt-8">
            <img
              class="absolute left-0 top-0 w-[57rem] max-w-none rounded-md"
              src="/img/bannerImg.png"
              alt="App screenshot"
              width="1824"
              height="1080"
            />
          </div>
        </div>
      </div>
      <% } else if(page=='upload') {%>
        <%- include('./upload.ejs') %>
        <% } %>
    </div>
    
  </body>
</html>
