<nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
  <div class="flex lg:flex-1">
    <a href="/" class="-m-1.5 p-1.5">
      <span
        class="py-1 px-2 text-gray-900 border-2 font-semibold text-2xl rounded-lg border-indigo-600"
        style="
          font-family: 'Anton', sans-serif;
          font-family: 'Roboto Slab', serif;
        "
        >Hosty.</span
      >
    </a>
  </div>
  <div class="lg:flex lg:flex-1 lg:justify-end">
    <% if(page=='reg') {%>
        <a href="/login" class="text-sm font-semibold leading-6 text-gray-900"
      >Log in <span aria-hidden="true">&rarr;</span></a
    >
    <% } else if(page=='login') {%>
        <a href="/reg" class="text-sm font-semibold leading-6 text-gray-900"
      >Join Us <span aria-hidden="true">&rarr;</span></a
    >
    <% } else if(page=='home') {%>
        <a href="/login" class="text-sm font-semibold leading-6 text-gray-900"
      >Log in <span aria-hidden="true">&rarr;</span></a
    >
    <%} %>
  </div>
</nav>
