<nav class="flex items-center justify-between p-6 lg:px-8">
  
  <div class="w-full mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">

      <div class="flex lg:flex-1">
        <a href="/" class="-m-1.5 p-1.5">
          <span
            class="py-1 px-2 text-gray-900 border-2 font-semibold text-2xl rounded-lg border-indigo-600"
            style="
              font-family: 'Anton', sans-serif;
              font-family: 'Roboto Slab', serif;
            "
            >Hosty.</span
          >
        </a>
      </div>  

      <div class=" flex items-center w-full sm:hidden justify-end">
        <!-- Mobile menu button-->
        <button
          type="button"
          class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-900 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-controls="mobile-menu"
          aria-expanded="false"
        >
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg
            class="block h-10 w-10"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>
          <!--
            Icon when menu is open.

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg
            class="hidden h-10 w-10"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>

      <div
        class="flex items-center justify-center "
      >
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a
              href="#"
              class="bg-indigo-700 text-white rounded-md px-3 py-2 text-sm font-medium"
              aria-current="page"
              >Deploy</a
            >
            <a
              href="#"
              class="text-indigo-600 rounded-md px-3 py-2 text-sm font-medium"
              >Dashboard</a
            >
            <a
              href="#"
              class="text-gray-600 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
              >Logout</a
            >
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
</nav>
<div class="relative sm:hidden bg-white mx-9 -top-7 rounded-3xl" id="mobile-menu">
  <div class="space-y-1  pb-3 pt-2 text-end">
    <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
    <a href="#" class="bg-indigo-700 text-white block rounded-md px-3 py-2 text-base font-medium " aria-current="page">Deploy</a>
    <a href="#" class="text-indigo-700 block rounded-md px-3 py-2 text-base font-medium">Dashboard</a>
    <a href="#" class="text-gray-600 block rounded-md px-3 py-2 text-base font-medium">Log Out</a>
  </div>
</div>
